/* .wp-block-columns .wp-block-column{
   outline-color: var(--wp--custom--border--color);
   outline-width: var(--wp--custom--border--width);
   outline-style: var(--wp--custom--border--style);
} */


.wp-block-column.is-vertically-aligned-top{
    position: sticky !important;
    top:var(--wp--custom--sticky-top);
    z-index: 7 !important;
}
.wp-block-column.is-vertically-aligned-top:first-of-type{
    z-index: 9 !important;
}

@media (max-width:600px) {
    .wp-block-column.is-vertically-aligned-top:not(:first-of-type),
    .wp-block-column .wp-block-column.is-vertically-aligned-top{
        position: relative !important;
        top:0px !important;
    }
}

/*Remove padding from*/
.wp-block-column > :is(
    .wp-block-group,
    .wp-block-navigation
){
    padding: 0px;
}

/*expand to full width*/
.wp-block-column>:is(
    .wp-block-cover,
    .wp-block-separator.is-style-wide,
    .wp-block-columns
):not(:only-child){
    margin-left:calc(var(--wp--preset--spacing--20)*-1) !important;
    margin-right:calc(var(--wp--preset--spacing--20)*-1) !important;
}

/*last-child remove padding*/
.wp-block-column>:is(
    .wp-block-cover,
    .wp-block-columns
):not(:only-child):last-child{
    margin-bottom:calc(var(--wp--preset--spacing--20)*-1) !important;
}


/*remove column padding*/
.wp-block-column:has(:is(
    .wp-block-cover
):only-child
){
    padding: 0px !important;
}