.wp-block-column:last-child{
    margin-right:calc(var(--wp--custom--border--width)*-2) !important;
}

.wp-block-column.is-style-sticky-column{
    position: sticky;
    top: 0px;
    top:calc(var(--navHeight) - var(--wp--custom--border--width));
}

@media (min-width: 781px) {
    .wp-block-column+.wp-block-column{
        border-left-width: var(--wp--custom--border--width);
        border-left-style: var(--wp--custom--border--style);
        border-left-color: var(--wp--custom--border--color);
    }

    .wp-block-column.is-style-sticky-column-desktop{
        position: sticky;
        top: 0px;
        top:calc(var(--navHeight) - var(--wp--custom--border--width));
    }
}


@media (max-width: 781px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        border-bottom: 0px;
    }
}