.wp-block-cover.is-style-link-cover{
    overflow: hidden;
    position: relative;
}
.wp-block-cover.is-style-link-cover:hover{
    cursor:pointer;
}


.wp-block-cover.is-style-link-cover:hover img{
    transform: translateX(0%) translateY(0%) scale(100%);

}
.wp-block-cover.is-style-link-cover:hover img{

    --ofstX: calc(var(--pcntX) * -10%);
    --ofstY: calc(var(--pcntY) * -10%);

    transform: translateX(var(--ofstX)) translateY(var(--ofstY)) scale(120%) ;
}

.wp-block-cover.is-style-link-cover .coverLink{
    position: absolute;
    display: block;
    inset: 0;
    background-color: transparent;
    z-index: 5;
}

/*group-link-block*/
.wp-block-cover__background{
    display: none;
}
/*group-link-block*/
.wp-block-cover:hover .wp-block-cover__background{
    display: block;
}