.wp-block-cover{
    overflow: hidden; 
}

.wp-block-cover:is(
    .is-position-bottom-center
) .wp-block-cover__inner-container {
    border-top-width: var(--wp--custom--border--width);
    border-top-color: var(--wp--custom--border--color);
    border-top-style: var(--wp--custom--border--style);
}


/*Feature*/

.wp-block-cover.is-style-feature{
    padding: 0px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-auto-flow: dense;
    grid-row-gap:var(--wp--custom--border--width);
    grid-column-gap:var(--wp--custom--border--width);
    overflow:hidden;
    container-name:featureCover;
    container-type: inline-size;
}

.wp-block-cover.is-style-feature .wp-block-cover__inner-container{
    grid-area:2/1/span 1/span 3;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: end;
   background-color: rgba(255,255,255,0.95);
}
.wp-block-cover.is-style-feature .wp-block-cover__inner-container>*{
    position: relative;
    z-index: 2;
}

.wp-block-cover.is-style-feature.is-position-top-left .wp-block-cover__inner-container{
    grid-area:1/1/span 1/span 2;

}
.wp-block-cover.is-style-feature.is-position-center-left .wp-block-cover__inner-container{
    grid-area:2/1/span 1/span 2;
}
.wp-block-cover.is-style-feature.is-position-bottom-left .wp-block-cover__inner-container{
    grid-area:3/1/span 1/span 2;
}

.wp-block-cover.is-style-feature.is-position-top-right .wp-block-cover__inner-container{
    grid-area:1/2/span 1/span 2;
}
.wp-block-cover.is-style-feature.is-position-center-right .wp-block-cover__inner-container{
    grid-area:2/2/span 1/span 2;
}
.wp-block-cover.is-style-feature.is-position-bottom-right .wp-block-cover__inner-container{
    grid-area:3/2/span 1/span 2;
}

.wp-block-cover.is-style-feature.is-position-bottom-center .wp-block-cover__inner-container{
    grid-area:3/1/span 1/span 3;
}
.wp-block-cover.is-style-feature.is-position-top-center .wp-block-cover__inner-container{
    grid-area:1/1/span 1/span 3;
}

.wp-block-cover.is-style-feature:not(
    .is-position-top-left,
    .is-position-top-right,
    .is-position-bottom-left,
    .is-position-bottom-right,
    .is-position-center-left,
    .is-position-center-right
) .gridTile:last-of-type{
display: none !important;
}

.wp-block-cover.is-style-feature :is(.wp-block-cover__inner-container, .gridTile){
    width: 100%;
    height: 100%;
    outline-color: var(--wp--custom--border--color);
    outline-width: var(--wp--custom--border--width);
    outline-style: var(--wp--custom--border--style);
    z-index: 5;
    position: relative;
    padding: var(--wp--preset--spacing--20);
    box-sizing: border-box;
}

.wp-block-cover.is-style-feature :is(.wp-block-cover__inner-container, .gridTile)::before{
    content:'';
    display: block;
    position: absolute;
    inset: 0% 0% 0% 0%;
    background-color: var(--wp--preset--color--base);
    transition: inset 0.25s ease-in-out;

}

.wp-block-cover.is-style-feature.cover-in :is(.wp-block-cover__inner-container, .gridTile)::before{
    inset: 0% 0% 0% 100%;
}

.wp-block-cover.is-style-link .linkCover{
    position: absolute;
    display: block;
    z-index: 2;
    inset: 0;
}



/*Adust for flex*/
.wp-block-cover.is-style-feature .wp-block-cover__inner-container .wp-block-separator{
    width: 100%;
}

/*Fit to width of cover*/
.wp-block-cover .wp-block-buttons{
    margin-left:calc(var(--wp--preset--spacing--20) * -1);
    margin-right:calc(var(--wp--preset--spacing--20) * -1);
}

.wp-block-cover .wp-block-cover__inner-container:has(
    :is(
        .wp-block-buttons
    ):last-child
){
    padding-bottom: 0px;
}


@media (max-width:600px){
    .wp-block-cover.wp-block-cover.is-style-feature{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .wp-block-cover.wp-block-cover.is-style-feature .wp-block-cover__inner-container{
        grid-column: 1/span 1 !important;
        position: sticky;
        top:0px;

    }
}

@container featureCover (max-width:600px){
    .wp-block-cover{
        display: block !important;
    }

    .gridTile:not(:first-of-type, :last-of-type){
        display: none !important;
    }
}