/*Feature*/

.wp-block-cover{
    overflow: hidden;
}


.wp-block-cover.is-style-feature span.pointerGrid{
    position: absolute;
    border-width: var(--wp--custom--border--width);
    border-style: var(--wp--custom--border--style);
    border-color: var(--wp--custom--border--color);
}

.wp-block-cover.is-style-feature span.pointerColumn{
    height: 100%;
    width:100px;
    left:0%;
    transform:translateX(var(--pointerGridX));
    top:0%;
    bottom:0%;
}

.wp-block-cover.is-style-feature span.pointerRow{
    width:100%;
    height: 100px;
    left: 0%;
    top:0%;
    transform:translateY(var(--pointerGridY));
    right: 0%;
}