.wp-block-details[open],
.wp-block-details:hover{
    font-style: italic;
}

.wp-block-details[open] summary{
    border-bottom-width:var(--wp--custom--border--width);
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
}

.wp-block-details.is-style-right-icon summary{
    list-style: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items:center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    position: relative;
}

.wp-block-details.is-style-right-icon summary::after{
    content: "\2023";
    font-size: 2em;
    transform-origin: center;
    transform: rotate(0deg);
    transition: 0.1s ease-in-out;
}

.wp-block-details.is-style-right-icon summary:hover::after{
    transform: rotate(45deg);
}

.wp-block-details[open].is-style-right-icon summary::after{
    transform: rotate(90deg);
}