/* group-preview-pane*/
:is(
    .wp-block-cover 
) .wp-block-group.is-style-preview-pane{
    display: none;
}
:is(
    .wp-block-cover 
):hover .wp-block-group.is-style-preview-pane{
    display: block;
}


/* grid - gridded */
.wp-block-group.is-layout-grid.is-style-gridded{
    padding: 0px !important;
    column-gap: var(--wp--custom--border--width) !important;
    row-gap: var(--wp--custom--border--width) !important;
}
.wp-block-group.is-layout-grid.is-style-gridded>*{
    outline-color: var(--wp-custom--border--color);
    outline-width: var(--wp--custom--border--width);
    outline-style: solid;
    padding: var(--wp--custom--border--padding);
}

/*group grid collapse mobile*/
@media (max-width:781px) {
    .wp-block-group.is-layout-grid.is-style-collapse-mobile{
        grid-template-columns: 1fr;
    }
}
