.is-style-offset{
    overflow: hidden;
}

.is-style-offset:not(:has(a)),
.is-style-offset a{
    width: 100%;
    flex-grow: 1;
    display: flex !important;
    --height:2em;
    gap:var(--wp--custom--border--width);
    flex-wrap: wrap;
}

.is-style-offset.has-background{
    padding: 0px !important;
}

.is-style-offset .offsetWordBox{
    display: block;
    outline-width: var(--wp--custom--border--width);
    outline-style: solid;
    outline-color: var(--wp--custom--border--color);
    padding:0px var(--wp--preset--spacing--20);
    height: var(--height);
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    transition: height 0.5s cubic-bezier(.65,.01,0,.99);
}
.is-style-offset a .offsetWordBox{
    height: 0px;
}

.is-style-offset:is(
    .has-contrast-background-color
) .offsetWordBox{
    outline-color: var(--wp--preset--color--base);
}


.offsetTextBlock .offsetWordBox::before{
    content:'';
    position: absolute;
    display: block;
    inset: 0;
    /* background-color:rgba(255,255,255,0.95); */
    z-index:1;
}

:is(.wp-block-cover):has(.is-style-offset):hover .offsetWordBox,
.wp-block-cover.cover-in .offsetWordBox{
    height: var(--height) !important;
}

.is-style-offset .offsetCharBox{
    height:var(--height);
    margin:0;
    line-height:var(--height);
    display: inline-block;
    position: relative;
    z-index: 2;
}

.is-style-offset>.offsetWordBox>.offsetCharBox{
    animation:offsetText 2.75s infinite alternate cubic-bezier(0.66, 0.02, 0.09, 1)
}
@keyframes offsetText {
    from{
        transform:translateY(calc(var(--height)*0));
    }
    to{
        transform: translateY(calc(var(--height)*-2));
    }
}


.is-style-offset a .offsetCharBox{
    transform: translateY(var(--height));
    transition:transform 0.5s cubic-bezier(.65,.01,0,.99);
    font-style: italic;
}

.is-style-offset:hover a .offsetCharBox,
.wp-block-cover.cover-in a .offsetCharBox{
    transform: translateY(0rem);
}

.offsetCharBox>span{
    height: var(--height);
    display: block;
}

/* .wp-block-cover__inner-container .is-style-offset{
    border-color: var(--wp--custom--border--color) !important;
    border-style: var(--wp--custom--border--style) !important;
    border-width: var(--wp--custom--border--width) 0px !important;
} */

@media (min-width:600px){

    .is-style-offset:hover a .offsetWordBox{
        height: var(--height);
    }

    .is-style-offset:hover a .offsetCharBox,
    .wp-block-cover:has(>a):hover a .offsetCharBox{
        transform: translateY(0rem);
    }
}