.wp-block-image.is-style-peakaboo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    --intersection:0%;
    overflow: hidden;
}

.wp-block-image.is-style-peakaboo:only-child{
    height: 100%;
}

.wp-block-image.is-style-peakaboo img{
    transform: translateY(var(--intersection));
}