/* :is(ul, ol){
    list-style-position: inside;
} */

ul.is-style-cell-list{
    list-style: none !important;
    /* margin: calc(var(--wp--custom--border--padding) *-1) !important; */
}

ul.is-style-cell-list li + li{
    border-top-width: var(--wp--custom--border--width);
    border-top-style: var(--wp--custom--border--style);
    border-top-color: var(--wp--custom--border--color);
}