.wp-block-media-text > figure{
    border-color: var(--wp--custom--border--color);
    border-style: var(--wp--custom--border--style);
    border-width: 0px;
}
.wp-block-media-text > figure:nth-child(1){
    border-right-width: var(--wp--custom--border--width);
}
.wp-block-media-text > figure:nth-child(2){
    border-left-width: var(--wp--custom--border--width);
}



.wp-block-media-text .wp-block-media-text__content{
    padding: var(--wp--preset--spacing--20);
    border-color: var(--wp--custom--border--color);
    border-style: var(--wp--custom--border--style);
    border-width: 0px;
}

.wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__content{
    position: sticky;
    top:0;
    border-bottom-width:var(--wp--custom--border--width);
}
.wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__content{
    position: sticky;
    bottom:0;
    border-top-width:var(--wp--custom--border--width);
}

.wp-block-media-text .wp-block-media-text__content > *{
    margin-block-start: 0px !important;
    margin-block-end: var(--wp--preset--spacing--20);
}