.is-style-primary-navigation{
    position:sticky;
    top: 0px;
    z-index: 150;
    border-bottom-color: var(--wp--custom--border--color);
    border-bottom-width: var(--wp--custom--border--width);
    border-bottom-style: var(--wp--custom--border--style);
    margin-bottom:calc(var(--wp--custom--border--width)*-1);
}

.wp-block-navigation__container{
    padding: 0px !important;
}