.wp-block-post-template .wp-block-post{
    padding: var(--wp--custom--border--padding);
    border-color: var(--wp--custom--border--color);
    border-style: var(--wp--custom--border--style);
    border-width:0px;
}

.wp-block-post-template.is-layout-grid{
    gap:var(--wp--custom--border--width) !important; 
}
.wp-block-post-template.is-layout-grid .wp-block-post{
    border-width: var(--wp--custom--border--width);
    margin: calc(var(--wp--custom--border--width)*-1);
}

.is-layout-flow .wp-block-post+.wp-block-post{
    border-top-width: var(--wp--custom--border--width);
}