.wp-block-query-pagination{
    align-self: stretch;
}

.wp-block-query-pagination-numbers{
    display: flex;
}
.is-vertical .wp-block-query-pagination-numbers{
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.wp-block-query-pagination-numbers .page-numbers,
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next{
    display: block;
    padding:var(--wp--custom--border--padding);
    border-color: var(--wp--custom--border--color);
    border-style: var(--wp--custom--border--style);
    border-width: 0px;
    flex-grow: 1;
    text-align: center;
}
.wp-block-query-pagination-numbers .page-numbers + *,
.wp-block-query-pagination-previous + *,
.wp-block-query-pagination-next + *{
    border-left-width: var(--wp--custom--border--width);
}

.is-vertical .wp-block-query-pagination-numbers .page-numbers + .page-numbers,
.is-vertical .wp-block-query-pagination-previous + *,
.is-vertical .wp-block-query-pagination-next + *{
    border-left-width: 0px;
    border-top-width: var(--wp--custom--border--width);
}

.wp-block-query-pagination-previous,
.wp-block-query-pagination-next{
    align-self: stretch;
}