<!-- wp:group {"metadata":{"name":"Main"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"header","metadata":{"name":"Navigation"},"align":"wide","style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<header class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0"><!-- wp:group {"align":"wide","className":"is-style-section-solid-rule-bottom","style":{"position":{"type":""},"spacing":{"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide is-style-section-solid-rule-bottom" style="padding-top:var(--wp--preset--spacing--100);padding-bottom:var(--wp--preset--spacing--100)"><!-- wp:site-logo {"width":25,"style":{"layout":{"selfStretch":"fit","flexSize":null}}} /-->

<!-- wp:site-title {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"medium"} /-->

<!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"border":{"left":{"color":"var:preset|color|contrast","width":"2px"}},"spacing":{"padding":{"left":"var:preset|spacing|100"}}},"fontSize":"medium"} /-->

<!-- wp:navigation {"overlayMenu":"always","style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"}} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:query {"queryId":8,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|250","margin":{"top":"0","bottom":"0"}}}} -->
<!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|250","bottom":"var:preset|spacing|250"}}}} -->
<div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--250);margin-bottom:var(--wp--preset--spacing--250)"><!-- wp:column {"verticalAlignment":"top","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:25%"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","height":"100%","linkTarget":"_blank","className":"is-style-figure-outline"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","className":"is-style-sticky-column-desktop","style":{"spacing":{"blockGap":"var:preset|spacing|250","padding":{"top":"var:preset|spacing|150","bottom":"var:preset|spacing|150"}}},"backgroundColor":"base","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--150);padding-bottom:var(--wp--preset--spacing--150)"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"fontStyle":"italic","fontWeight":"700"}},"fontSize":"large"} /-->

<!-- wp:post-excerpt {"moreText":"","excerptLength":100,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"fontSize":"medium"} /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"\u003cbr\u003etags\u003cbr\u003e","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"className":"is-style-separator-thick","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"contrast"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-separator-thick" style="margin-top:0;margin-bottom:0"/>
<!-- /wp:separator -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"standard-footer","area":"footer","align":"wide"} /--></div>
<!-- /wp:group -->