<!-- wp:template-part {"slug":"header","area":"header","className":"is-style-primary-navigation"} /-->

<!-- wp:query {"queryId":8,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}}} /-->

<!-- wp:post-excerpt {"moreText":"view case study","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"spacing":{"margin":{"top":"0"}}}} /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"\u003cbr\u003etags\u003cbr\u003e","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"auto","height":"100%","linkTarget":"_blank","className":"is-style-default"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->