<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0","bottom":"2px"}}}} -->
<div class="wp-block-columns" style="margin-top:0;margin-bottom:2px"><!-- wp:column {"verticalAlignment":"top","width":"33.33%","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop" style="flex-basis:33.33%"><!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:site-logo {"width":70} /-->

<!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"blockGap":"var:preset|spacing|40"}},"className":"is-style-full-bleed","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-full-bleed"><!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} -->
<h1 class="wp-block-heading" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)">Hey there,<br><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-accent-color"><em>I'm Harrison Jude.</em></mark></h1>
<!-- /wp:heading -->

<!-- wp:heading -->
<h2 class="wp-block-heading">A graphic designer and creative developer.</h2>
<!-- /wp:heading -->

<!-- wp:separator {"backgroundColor":"contrast","className":"is-style-extra-wide"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-extra-wide"/>
<!-- /wp:separator -->

<!-- wp:social-links {"iconColor":"contrast","iconColorValue":"#111111","openInNewTab":true,"size":"has-normal-icon-size","className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"codepen.com","service":"codepen"} /-->

<!-- wp:social-link {"url":"dribbble.com","service":"dribbble"} /-->

<!-- wp:social-link {"url":"instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"linkedin.com","service":"linkedin"} /-->

<!-- wp:social-link {"url":"harrison@hjude.com","service":"mail"} /-->

<!-- wp:social-link {"url":"github.com","service":"github"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:separator {"backgroundColor":"contrast","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:navigation {"ref":7,"overlayMenu":"never","layout":{"type":"flex","justifyContent":"left"},"style":{"spacing":{"blockGap":"var:preset|spacing|40"},"typography":{"fontStyle":"normal","fontWeight":"100"}},"fontSize":"medium"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:66.66%"><!-- wp:query {"queryId":13,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"enhancedPagination":true,"className":"is-style-full-bleed"} -->
<div class="wp-block-query is-style-full-bleed"><!-- wp:post-template -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"base-2","isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","contentPosition":"bottom left","isDark":false,"className":"is-style-link-cover is-style-full-bleed","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-left is-style-link-cover is-style-full-bleed" style="min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-base-2-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","className":"is-style-preview-pane","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-preview-pane has-contrast-color has-text-color has-link-color"><!-- wp:post-title {"level":1,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast"} /-->

<!-- wp:post-excerpt /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"contrast","textColor":"base-2"} -->
<div class="wp-block-columns has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"Who I am","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:paragraph -->
<p><em>I’m not afraid to say “I don’t know.”</em>&nbsp;In fact,<em>&nbsp;</em>I embrace it. It’s the gateway to the unknown, the spark of curiosity that&nbsp;<em>ignites insight,</em>&nbsp;<em>fuels creation</em>, and&nbsp;<em>uncovers solutions</em>. As a creative developer, I don’t just solve problems, I craft visual solutions. I build systems that are&nbsp;<em>as beautiful as they are effective.</em></p>
<!-- /wp:paragraph -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:image {"sizeSlug":"large","linkDestination":"none","className":"is-style-peakaboo"} -->
<figure class="wp-block-image size-large is-style-peakaboo"><img src="http://bureaucrat.local/wp-content/uploads/2024/02/headshot_me_peak-1024x606.webp" alt=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"contrast","textColor":"base-2"} -->
<div class="wp-block-columns has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"50%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:50%"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"What i do","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}}} -->
<!-- wp:list {"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"className":"is-style-cell-list","fontSize":"p-1"} -->
<ul style="padding-right:0;padding-left:0" class="wp-block-list is-style-cell-list has-p-1-font-size"><!-- wp:list-item -->
<li>Motion Design</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Visual Identity Design</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Creative Coding</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Workflow Optimization</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Front-end Development</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Project Management</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:50%"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"How i do it","lock":{"move":true,"remove":true},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","flexWrap":"wrap","orientation":"horizontal","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"base-2","className":"is-style-cell-list","fontSize":"medium"} -->
<ul style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0" class="wp-block-list is-style-cell-list has-base-2-color has-text-color has-link-color has-medium-font-size"><!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Illustrator</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">After Effects</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Figma</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Photoshop</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Cavalry</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Indesign</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Monday.com</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Notion</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"base-2","className":"is-style-cell-list","fontSize":"medium"} -->
<ul style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0" class="wp-block-list is-style-cell-list has-base-2-color has-text-color has-link-color has-medium-font-size"><!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">HTML/CSS/JS</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">P5.js/Canvas</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Python</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Node</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Git/github</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"contrast","textColor":"base-2"} -->
<div class="wp-block-columns has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"Where I've Been","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|40"},"layout":{"selfStretch":"fill","flexSize":null}},"borderColor":"base-2","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-base-2-border-color" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:cover {"url":"http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp","hasParallax":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","className":"is-style-full-bleed"} -->
<div class="wp-block-cover has-parallax is-style-full-bleed" style="min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__image-background has-parallax" style="background-position:50% 50%;background-image:url(http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp)"></div><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"right","placeholder":"Write title…","style":{"typography":{"fontStyle":"normal","fontWeight":"800"}},"fontSize":"m-1"} -->
<p class="has-text-align-right has-m-1-font-size" style="font-style:normal;font-weight:800">nyc | midtown</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Adweek</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent","fontSize":"m-2"} -->
<p class="has-accent-color has-text-color has-link-color has-m-2-font-size">Advertising Trade publication and events company</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">when</h5>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2021-Present</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">roles</h5>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">2022-present</h6>
<!-- /wp:heading -->

<!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>Creative Developer</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">2021-2022</h6>
<!-- /wp:heading -->

<!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>Graphic Designer</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|40"},"layout":{"selfStretch":"fill","flexSize":null}},"borderColor":"base-2","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-base-2-border-color" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:cover {"url":"http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp","hasParallax":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","className":"is-style-full-bleed"} -->
<div class="wp-block-cover has-parallax is-style-full-bleed" style="min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__image-background has-parallax" style="background-position:50% 50%;background-image:url(http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp)"></div><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"right","placeholder":"Write title…","style":{"typography":{"fontStyle":"normal","fontWeight":"800"}},"fontSize":"m-1"} -->
<p class="has-text-align-right has-m-1-font-size" style="font-style:normal;font-weight:800">nyc | financial district</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">SKDK</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent","fontSize":"m-2"} -->
<p class="has-accent-color has-text-color has-link-color has-m-2-font-size">Public affairs and political consulting firm</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">when</h5>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2019-2021</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">roles</h5>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">2020-2021</h6>
<!-- /wp:heading -->

<!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>Freelance Graphic Designer</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">2019</h6>
<!-- /wp:heading -->

<!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>Graphic Design Intern</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|40"},"layout":{"selfStretch":"fill","flexSize":null}},"borderColor":"base-2","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-base-2-border-color" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:cover {"url":"http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp","hasParallax":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","className":"is-style-full-bleed"} -->
<div class="wp-block-cover has-parallax is-style-full-bleed" style="min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__image-background has-parallax" style="background-position:50% 50%;background-image:url(http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp)"></div><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"right","placeholder":"Write title…","style":{"typography":{"fontStyle":"normal","fontWeight":"800"}},"fontSize":"m-1"} -->
<p class="has-text-align-right has-m-1-font-size" style="font-style:normal;font-weight:800">nyc | the village</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">w14 labs</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent","fontSize":"m-2"} -->
<p class="has-accent-color has-text-color has-link-color has-m-2-font-size">university print lab</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">when</h5>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2018-2019</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">roles</h5>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>Print lab associate</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|40"},"layout":{"selfStretch":"fill","flexSize":null}},"borderColor":"base-2","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-base-2-border-color" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:cover {"url":"http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp","hasParallax":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","className":"is-style-full-bleed"} -->
<div class="wp-block-cover has-parallax is-style-full-bleed" style="min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__image-background has-parallax" style="background-position:50% 50%;background-image:url(http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp)"></div><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"right","placeholder":"Write title…","style":{"typography":{"fontStyle":"normal","fontWeight":"800"}},"fontSize":"m-1"} -->
<p class="has-text-align-right has-m-1-font-size" style="font-style:normal;font-weight:800">nyc | financial district</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">nyc dept of sanitation</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent","fontSize":"m-2"} -->
<p class="has-accent-color has-text-color has-link-color has-m-2-font-size">city government agency</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">when</h5>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Summer 2018</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">roles</h5>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>Graphic Design Intern</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|40"},"layout":{"selfStretch":"fill","flexSize":null}},"borderColor":"base-2","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-base-2-border-color" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:cover {"url":"http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp","hasParallax":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","className":"is-style-full-bleed"} -->
<div class="wp-block-cover has-parallax is-style-full-bleed" style="min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__image-background has-parallax" style="background-position:50% 50%;background-image:url(http://bureaucrat.local/wp-content/uploads/2024/02/Map_Adweek.webp)"></div><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"right","placeholder":"Write title…","style":{"typography":{"fontStyle":"normal","fontWeight":"800"}},"fontSize":"m-1"} -->
<p class="has-text-align-right has-m-1-font-size" style="font-style:normal;font-weight:800">nyc | clinton hill</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">pratt institute</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent","fontSize":"m-2"} -->
<p class="has-accent-color has-text-color has-link-color has-m-2-font-size">art and design university</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">when</h5>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2017 - 2019</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":5,"className":"is-style-ruled"} -->
<h5 class="wp-block-heading is-style-ruled">Degree</h5>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">Student</h6>
<!-- /wp:heading -->

<!-- wp:details {"className":"is-style-left-tab is-style-right-icon"} -->
<details class="wp-block-details is-style-left-tab is-style-right-icon"><summary>AOS-Graphic Design</summary><!-- wp:paragraph {"placeholder":"Type / to add a hidden block"} -->
<p>short description about my time as a creative developer at adweek</p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:file {"id":853,"href":"http://bureaucrat.local/wp-content/uploads/2024/05/Hunger-Fullness-Scale.pdf","showDownloadButton":false,"displayPreview":false,"style":{"layout":{"columnSpan":1,"rowSpan":1}}} -->
<div class="wp-block-file"><a id="wp-block-file--media-6bc24d88-c496-48f7-b4a4-57d2667bdd29" href="http://bureaucrat.local/wp-content/uploads/2024/05/Hunger-Fullness-Scale.pdf">Download my full Resume</a></div>
<!-- /wp:file --></div>
<!-- /wp:group -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->