<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0","bottom":"2px"}}}} -->
<div class="wp-block-columns" style="margin-top:0;margin-bottom:2px"><!-- wp:column {"verticalAlignment":"top","width":"33.33%","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop" style="flex-basis:33.33%"><!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:site-logo {"width":70} /-->

<!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"blockGap":"var:preset|spacing|40"}},"className":"is-style-full-bleed","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-full-bleed"><!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} -->
<h1 class="wp-block-heading" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)">Hey there,<br><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-accent-color"><em>I'm Harrison Jude.</em></mark></h1>
<!-- /wp:heading -->

<!-- wp:heading -->
<h2 class="wp-block-heading">A graphic designer and creative developer.</h2>
<!-- /wp:heading -->

<!-- wp:separator {"backgroundColor":"contrast","className":"is-style-extra-wide"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-extra-wide"/>
<!-- /wp:separator -->

<!-- wp:social-links {"iconColor":"contrast","iconColorValue":"#111111","openInNewTab":true,"size":"has-normal-icon-size","className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"codepen.com","service":"codepen"} /-->

<!-- wp:social-link {"url":"dribbble.com","service":"dribbble"} /-->

<!-- wp:social-link {"url":"instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"linkedin.com","service":"linkedin"} /-->

<!-- wp:social-link {"url":"harrison@hjude.com","service":"mail"} /-->

<!-- wp:social-link {"url":"github.com","service":"github"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:separator {"backgroundColor":"contrast","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:navigation {"ref":7,"overlayMenu":"never","layout":{"type":"flex","justifyContent":"left"},"style":{"spacing":{"blockGap":"var:preset|spacing|40"},"typography":{"fontStyle":"normal","fontWeight":"100"}},"fontSize":"medium"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:66.66%"><!-- wp:query {"queryId":13,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"enhancedPagination":true,"className":"is-style-full-bleed"} -->
<div class="wp-block-query is-style-full-bleed"><!-- wp:post-template -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"base-2","isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","contentPosition":"bottom left","isDark":false,"className":"is-style-link-cover is-style-full-bleed","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-left is-style-link-cover is-style-full-bleed" style="min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-base-2-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","className":"is-style-preview-pane","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-preview-pane has-contrast-color has-text-color has-link-color"><!-- wp:post-title {"level":1,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast"} /-->

<!-- wp:post-excerpt /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"contrast","textColor":"base-2"} -->
<div class="wp-block-columns has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"Who I am","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:paragraph -->
<p><em>I’m not afraid to say “I don’t know.”</em> In fact,<em> </em>I embrace it. It’s the gateway to the unknown, the spark of curiosity that <em>ignites insight,</em> <em>fuels creation</em>, and <em>uncovers solutions</em>. As a creative developer, I don’t just solve problems, I craft visual solutions. I build systems that are <em>as beautiful as they are effective.</em></p>
<!-- /wp:paragraph -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:image {"sizeSlug":"large","linkDestination":"none","className":"is-style-peakaboo"} -->
<figure class="wp-block-image size-large is-style-peakaboo"><img src="http://bureaucrat.local/wp-content/uploads/2024/03/headshot_me_peak-1024x606.webp" alt="" class=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"contrast","textColor":"base-2"} -->
<div class="wp-block-columns has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"33.33%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:33.33%"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"What i do","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}}} -->
<!-- wp:list {"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"className":"is-style-cell-list"} -->
<ul style="padding-right:0;padding-left:0" class="is-style-cell-list"><!-- wp:list-item -->
<li>Skill 1</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Skill 2</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Skill 3</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>skill 4</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>skill</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>skill</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:66.66%"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"How i do it","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","flexWrap":"wrap","orientation":"horizontal","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"base-2","className":"is-style-cell-list","fontSize":"medium"} -->
<ul style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0" class="is-style-cell-list has-base-2-color has-text-color has-link-color has-medium-font-size"><!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Illustrator</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">After Effects</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Figma</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Photoshop</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Cavalry</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Indesign</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Monday.com</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Notion</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"base-2","className":"is-style-cell-list","fontSize":"medium"} -->
<ul style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0" class="is-style-cell-list has-base-2-color has-text-color has-link-color has-medium-font-size"><!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">HTML/CSS/JS</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">P5.js/Canvas</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Python</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Node</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<li style="margin-top:0;margin-bottom:0">Git/github</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"contrast","textColor":"base-2"} -->
<div class="wp-block-columns has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:tab-section/tab-section {"tagName":"h4","tagCopy":"Where I've Been","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group -->
<!-- /wp:tab-section/tab-section --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"backgroundColor":"contrast","textColor":"base-2","className":"is-style-gridded","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group is-style-gridded has-base-2-color has-contrast-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"dimensions":{"minHeight":"50vh"},"layout":{"rowSpan":"1","columnSpan":"2"},"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="min-height:50vh"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent","fontSize":"medium"} -->
<h2 class="wp-block-heading has-accent-color has-text-color has-link-color has-medium-font-size">Where</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Adweek (2021 – Current)</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong><em>Advertising Trade publication and events company</em></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"backgroundColor":"base-2","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-base-2-color has-alpha-channel-opacity has-base-2-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">SKDK (2021 – Current)</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong><em>Advertising Trade publication and events company</em></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"backgroundColor":"base-2","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-base-2-color has-alpha-channel-opacity has-base-2-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">w14 Labs (2021 – Current)</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong><em>Advertising Trade publication and events company</em></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"backgroundColor":"base-2","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-base-2-color has-alpha-channel-opacity has-base-2-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">NYC Dept. of Sanitation (2021 – Current)</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong><em>Advertising Trade publication and events company</em></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"backgroundColor":"base-2","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-base-2-color has-alpha-channel-opacity has-base-2-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Pratt Insitute (2021 – Current)</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong><em>Advertising Trade publication and events company</em></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"backgroundColor":"base-2","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-base-2-color has-alpha-channel-opacity has-base-2-background-color has-background is-style-wide"/>
<!-- /wp:separator --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->