<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"33.33%","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop" style="flex-basis:33.33%"><!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:site-logo {"width":70} /-->

<!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"blockGap":"var:preset|spacing|40"}},"className":"is-style-full-bleed","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-full-bleed"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-x-large-font-size" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);font-style:normal;font-weight:700">Hey there,<br><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-accent-color"><em>I'm Harrison Jude.</em></mark></h2>
<!-- /wp:heading -->

<!-- wp:heading -->
<h2 class="wp-block-heading">A graphic designer and creative developer.</h2>
<!-- /wp:heading -->

<!-- wp:separator {"backgroundColor":"contrast","className":"is-style-extra-wide"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-extra-wide"/>
<!-- /wp:separator -->

<!-- wp:social-links {"iconColor":"contrast","iconColorValue":"#111111","openInNewTab":true,"size":"has-normal-icon-size","className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"codepen.com","service":"codepen"} /-->

<!-- wp:social-link {"url":"dribbble.com","service":"dribbble"} /-->

<!-- wp:social-link {"url":"instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"linkedin.com","service":"linkedin"} /-->

<!-- wp:social-link {"url":"harrison@hjude.com","service":"mail"} /-->

<!-- wp:social-link {"url":"github.com","service":"github"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:separator {"backgroundColor":"contrast","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:navigation {"ref":7,"overlayMenu":"never","layout":{"type":"flex","justifyContent":"left"},"style":{"spacing":{"blockGap":"var:preset|spacing|40"},"typography":{"fontStyle":"normal","fontWeight":"100"}},"fontSize":"medium"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:66.66%"><!-- wp:query {"queryId":13,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"enhancedPagination":true,"className":"is-style-full-bleed"} -->
<div class="wp-block-query is-style-full-bleed"><!-- wp:post-template -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"base-2","isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","contentPosition":"bottom left","isDark":false,"className":"is-style-link-cover is-style-full-bleed","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-left is-style-link-cover is-style-full-bleed" style="min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-base-2-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","className":"is-style-preview-pane","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-preview-pane has-contrast-color has-text-color has-link-color"><!-- wp:post-title {"level":1,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast"} /-->

<!-- wp:post-excerpt /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->