<!-- wp:group {"metadata":{"name":"Main"},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","className":"is-style-default","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"position":{"type":"sticky","top":"0px"},"border":{"width":"0px","style":"none"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-style-default" style="border-style:none;border-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"standard-header-navigation","area":"header","className":"is-position-sticky"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Hero Section"},"align":"wide","className":"is-style-default","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide is-style-default" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:hjude/character-shift {"textCopy":"Hey there {who}, lets {vrb} {noun} {adj} together!","MessageType":"Dynamic","MetaKey":"message","align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"backgroundColor":"base","textColor":"contrast","fontSize":"xx-large"} /-->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|250"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Brand &amp; Motion Design</h5>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:social-links {"iconColor":"contrast","iconColorValue":"#111111","openInNewTab":true,"className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"codepen"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /-->

<!-- wp:social-link {"url":"#","service":"dribbble"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|600"} -->
<div style="height:var(--wp--preset--spacing--600)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":7,"query":{"perPage":8,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|250"}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<!-- wp:group {"style":{"border":{"width":"2px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="border-width:2px"><!-- wp:spc-btn/spacial-button {"linkTo":"post","positioning":"is-global","useFeaturedImage":true,"backgroundImage":"http://bureaucrat.local/wp-content/uploads/2024/06/Otlk-24-Cover-1024x728.png","style":{"dimensions":{"aspectRatio":"4/3"},"background":{"backgroundImage":{"url":"http://bureaucrat.local/wp-content/uploads/2024/04/BW_2024_StageBackgrounds_PBP_01.png","id":1976,"source":"file","title":"BW_2024_StageBackgrounds_PBP_01"},"backgroundSize":"cover","backgroundAttachment":"scroll"},"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|contrast"}}}}},"backgroundColor":"base","layout":{"type":"default"}} -->
<!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|contrast"}}}},"spacing":{"padding":{"top":"var:preset|spacing|150","bottom":"var:preset|spacing|150","left":"var:preset|spacing|150","right":"var:preset|spacing|150"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"base","textColor":"contrast"} /-->
<!-- /wp:spc-btn/spacial-button --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"standard-footer","align":"wide"} /--></div>
<!-- /wp:group -->