<!-- wp:heading {"level":6,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"contrast","textColor":"base-2","className":"is-style-offset","fontSize":"x-large"} -->
<h6 class="wp-block-heading is-style-offset has-base-2-color has-contrast-background-color has-text-color has-background has-link-color has-x-large-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">Hey there you, let's create something remarkable together!</h6>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"backgroundColor":"contrast","textColor":"base-2","className":"is-style-primary-navigation","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-primary-navigation has-base-2-color has-contrast-background-color has-text-color has-background has-link-color"><!-- wp:site-logo {"width":43,"className":"is-style-invert"} /-->

<!-- wp:site-title {"fontSize":"medium"} /-->

<!-- wp:spacer {"style":{"layout":{"flexSize":null,"selfStretch":"fill"}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:navigation {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} /--></div>
<!-- /wp:group -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"backgroundColor":"contrast","textColor":"base-2","fontSize":"medium"} -->
<h3 class="wp-block-heading has-base-2-color has-contrast-background-color has-text-color has-background has-link-color has-medium-font-size">Graphic Design & Creative Development</h3>
<!-- /wp:heading -->

<!-- wp:query {"queryId":31,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"style":{"typography":{"textTransform":"none"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","contentPosition":"bottom center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}},"heading":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","className":"is-style-link-cover","layout":{"type":"default"}} -->
<div class="wp-block-cover has-custom-content-position is-position-bottom-center is-style-link-cover has-base-2-color has-text-color has-link-color" style="min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"className":"is-style-preview-pane","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-preview-pane"><!-- wp:post-title {"level":1,"isLink":true,"linkTarget":"_blank","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}}} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:columns {"isStackedOnMobile":false} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"top","width":"1.5em","backgroundColor":"accent","className":"is-style-sticky-column"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column has-accent-background-color has-background" style="flex-basis:1.5em"><!-- wp:heading {"style":{"typography":{"writingMode":"vertical-rl"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","fontSize":"medium"} -->
<h2 class="wp-block-heading has-base-2-color has-text-color has-link-color has-medium-font-size" style="writing-mode:vertical-rl">who</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"50vw","className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop" style="flex-basis:50vw"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size">Oh Hi there, I'm <mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Harrison Jude</mark>.</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size"><em>I’m not afraid to say “I don’t know.”</em> In fact,<em> </em>I embrace it. It’s the gateway to the unknown, the spark of curiosity that <em>ignites insight,</em> <em>fuels creation</em>, and <em>uncovers solutions</em>. As a creative developer, I don’t just solve problems, I craft visual solutions. I build systems that are <strong><em><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">as beautiful as they are effective</mark></em></strong>.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:image {"sizeSlug":"large","linkDestination":"none","className":"is-style-peakaboo"} -->
<figure class="wp-block-image size-large is-style-peakaboo"><img src="http://bureaucrat.local/wp-content/themes/bureaucrat/assets/images/headshot_me_peak-1024x606.webp" alt="" class=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"isStackedOnMobile":false} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"top","width":"1.5em","backgroundColor":"accent","className":"is-style-sticky-column"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column has-accent-background-color has-background" style="flex-basis:1.5em"><!-- wp:heading {"style":{"typography":{"writingMode":"vertical-rl"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","fontSize":"medium"} -->
<h2 class="wp-block-heading has-base-2-color has-text-color has-link-color has-medium-font-size" style="writing-mode:vertical-rl">What</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"50vw","className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop" style="flex-basis:50vw"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size">Design that does more than just look good,<mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color"> Design that works.</mark></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size"><em>I build design systems that empower</em> you to create impactful graphics. From the start, I focus on strong foundations to ensure a stable and successful project. I then create <em>user-friendly toolkits</em> with <em>robust asset libraries</em>, template files, and even advanced features like After Effects expressions. This <em>ensures visual consistency</em> and makes working within the system painless. Finally, I construct these systems with <em>scalability in mind</em>, so they can grow and evolve alongside your campaigns and brands. The result? <em><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color"><strong>Impactful graphics that reliably grab attention and deliver your message</strong></mark>.</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:list {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"typography":{"fontStyle":"normal","fontWeight":"300"}},"className":"is-style-cell-list","fontSize":"x-large"} -->
<ul style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-style:normal;font-weight:300" class="is-style-cell-list has-x-large-font-size"><!-- wp:list-item -->
<li>Motion Design</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Visual Identity Design</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Creative Coding</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Workflow Optimization</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Front End Development</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Project Management</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"isStackedOnMobile":false} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"top","width":"1.5em","backgroundColor":"accent","className":"is-style-sticky-column"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column has-accent-background-color has-background" style="flex-basis:1.5em"><!-- wp:heading {"style":{"typography":{"writingMode":"vertical-rl"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","fontSize":"medium"} -->
<h2 class="wp-block-heading has-base-2-color has-text-color has-link-color has-medium-font-size" style="writing-mode:vertical-rl">How</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"50vw","className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column-desktop" style="flex-basis:50vw"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size"><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Software</mark>, <mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Code</mark>, and a little <mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">je ne sais quoi</mark></h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>If the foundations aren’t stable, everything built on them will suffer. I build robust and meaningful design systems that help ensure success across all aspects of the project.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:list {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"className":"is-style-cell-list"} -->
<ul style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0" class="is-style-cell-list"><!-- wp:list-item -->
<li>Illustrator</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>After Effects</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Figma</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Cavalry</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Photoshop</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Indesign</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Blednder</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Monday.com</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Notion</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:list {"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"className":"is-style-cell-list"} -->
<ul style="padding-right:0;padding-left:0" class="is-style-cell-list"><!-- wp:list-item -->
<li>HTML/CSS/JS</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>P5.js/Canvas</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Python</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Node</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>git/github</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"isStackedOnMobile":false} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"top","width":"1.5em","backgroundColor":"accent","className":"is-style-sticky-column"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column has-accent-background-color has-background" style="flex-basis:1.5em"><!-- wp:heading {"style":{"typography":{"writingMode":"vertical-rl"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","fontSize":"medium"} -->
<h2 class="wp-block-heading has-base-2-color has-text-color has-link-color has-medium-font-size" style="writing-mode:vertical-rl">Where</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"2px","padding":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"width":"20vw","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-style-sticky-column-desktop" style="flex-basis:20vw"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","className":"is-style-default","fontSize":"large"} -->
<h3 class="wp-block-heading is-style-default has-contrast-color has-text-color has-link-color has-large-font-size">Adweek</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong><em><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Advertising Trade publication and events company</mark></em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>NYC</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Creative Developer</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2022–Current</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Graphic Designer</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2021–2022</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"width":"20vw","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-style-sticky-column-desktop" style="flex-basis:20vw"><!-- wp:heading {"level":3,"className":"is-style-default","fontSize":"large"} -->
<h3 class="wp-block-heading is-style-default has-large-font-size">SKDK</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong><em><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Public affairs and political consulting firm</mark></em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>NYC</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Freelance Graphic Designer</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2019–2021</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Graphic design intern</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2019</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"width":"20vw","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-style-sticky-column-desktop" style="flex-basis:20vw"><!-- wp:heading {"level":3,"className":"is-style-default","fontSize":"large"} -->
<h3 class="wp-block-heading is-style-default has-large-font-size">w14 Labs</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong><em><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">University Print Lab</mark></em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>NYC</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Print Lab Associate</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2018–2019</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"width":"20vw","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-style-sticky-column-desktop" style="flex-basis:20vw"><!-- wp:heading {"level":3,"className":"is-style-default","fontSize":"large"} -->
<h3 class="wp-block-heading is-style-default has-large-font-size">NYC Department of Sanitation</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong><em><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Government Agency</mark></em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>NYC</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Graphic Design Intern</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Summer 2018</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"width":"20vw","className":"is-style-sticky-column-desktop"} -->
<div class="wp-block-column is-style-sticky-column-desktop" style="flex-basis:20vw"><!-- wp:heading {"level":3,"className":"is-style-default","fontSize":"large"} -->
<h3 class="wp-block-heading is-style-default has-large-font-size">Pratt Institute</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>NYC</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"fontSize":"medium"} -->
<h4 class="wp-block-heading has-medium-font-size">Student - Graphic Design | AOS</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2017–2019</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"isStackedOnMobile":false} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"top","width":"1.5em","backgroundColor":"accent","className":"is-style-sticky-column"} -->
<div class="wp-block-column is-vertically-aligned-top is-style-sticky-column has-accent-background-color has-background" style="flex-basis:1.5em"><!-- wp:heading {"style":{"typography":{"writingMode":"vertical-rl"},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","fontSize":"medium"} -->
<h2 class="wp-block-heading has-base-2-color has-text-color has-link-color has-medium-font-size" style="writing-mode:vertical-rl">Why</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size">To<br><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Challenge</mark></h3>
<!-- /wp:heading -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>I am <em>proactive in questioning and challenging my existing ideas</em> and practices. I <em>embrace feedback</em> and criticism from others, and constantly strive to improve my skills and knowledge.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I aim to produce work that encourages others to <em>think critically</em> and to challenge the state of the world, asking why it is the way it is, and if it has to be that way.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size">To<br><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Inspire</mark></h3>
<!-- /wp:heading -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>I ensure that I stay passionate about my work and&nbsp; set challenging but achievable goals for myself and my team. Remembering to celebrate successes along the way and avoid becoming rutted in complacency.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I try to produce work that will help others to see the potential in themselves and in the world around them.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">To<br><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Humanize</mark></h2>
<!-- /wp:heading -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>I work to be authentic and genuine, to be compassionate and understanding. I wish to always be humble and willing to learn from others.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Produce work that is understanding and compassionate of people’s humanity. Work that celebrates the idiosyncratic imperfections of people, and champions authentic freedom.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">To<br><mark style="background-color:rgba(0, 0, 0, 0);color:#cf2e2e" class="has-inline-color">Inform</mark></h2>
<!-- /wp:heading -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>I strive to continually expand my understanding of the problems that I am trying to solve with my work, and grow my expertise and skill set so that I can do the work I love better.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I aspire to communicate messaging and information that is useful, relevant, and productive. To ensure that my work communicates that information in an accessible and clear manner.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->