<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|150"},"border":{"top":{"width":"0px","style":"none"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-style:none;border-top-width:0px"><!-- wp:group {"tagName":"header","metadata":{"name":"Navigation"},"align":"wide","style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide" style="padding-right:0;padding-left:0"><!-- wp:group {"align":"wide","className":"is-style-section-solid-rule-bottom is-style-section-Rule-H-Btm","style":{"position":{"type":""},"spacing":{"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group alignwide is-style-section-solid-rule-bottom is-style-section-Rule-H-Btm" style="padding-top:var(--wp--preset--spacing--100);padding-bottom:var(--wp--preset--spacing--100)"><!-- wp:site-logo {"width":25,"style":{"layout":{"selfStretch":"fit","flexSize":null}}} /-->

<!-- wp:site-title {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"medium"} /-->

<!-- wp:post-title {"style":{"border":{"left":{"color":"var:preset|color|contrast","width":"2px"}},"spacing":{"padding":{"left":"var:preset|spacing|100"}}},"fontSize":"medium"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","isDark":false,"sizeSlug":"full","align":"wide","className":"is-style-cover-outlined","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}},"border":{"top":{"width":"0px","style":"none"}}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignwide is-light has-parallax is-style-cover-outlined" style="border-top-style:none;border-top-width:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"italic","fontWeight":"800"}},"fontSize":"large"} /-->

<!-- wp:separator {"className":"is-style-separator-thick","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"backgroundColor":"contrast"} -->
<hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-separator-thick" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)"/>
<!-- /wp:separator -->

<!-- wp:post-terms {"term":"post_tag","className":"is-style-default"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:mfb/meta-field-block {"fieldName":"overview","hideEmpty":true,"tagName":"p","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|150"}},"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"more-case-studies","area":"footer","align":"wide"} /-->

<!-- wp:template-part {"slug":"standard-footer","area":"footer","align":"wide"} /--></div>
<!-- /wp:group -->